*
	margin: 0
	padding: 0
	list-style: none
	outline: none 0
	font-family: 'Roboto',-apple-system, system-ui, sans-seif
	box-sizing: border-box

body
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.todo-wrapper
	display: flex
	justify-content: center
	align-items: center
	height: 100vh
	border-radius: 10px

.todo
	display: flex
	margin: auto
	width: 750px
	min-height: 530px
	height: auto
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	border-radius: 10px
	border: 1px solid #f3f3f3
	transition: 1s
	
	&__sidebar
		background-color: #f3f3f3
		border-right: 1px solid #F1F1F1
		width: 200px
		padding: 50px 20px

	&__tasks
		padding: 55px
		flex: 1
		position: relative
.field
	background: #FFFFFF
	border: 1px solid #EFEFEF
	box-sizing: border-box
	border-radius: 4px
	padding: 7px 11px
	&:focus
		border-color: darken(#EFEFEF,10)
	&-w-100
		width: 100%

.btn
	background: #4DD599
	border-radius: 4px
	padding: 10px 15px
	border: none
	color: #fff
	cursor: pointer
	transition: .3s
	&:hover
		background: darken(#4DD599,5%)
	&:active
		background: darken(#4DD599,8%)
	&-w-100
		width: 100%





